* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #8cc461;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  width: 100%;
}

.score-board {
  border: 2px solid rgb(220, 215, 215);
  border-radius: 10px;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  height: auto;
  color: white;
}

.game-title p {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.scores {
  display: flex;
  gap: 20px;
}

.score-box {
  background-color: white;
  color: black;
  padding: 10px 15px;
  text-align: center;
  border-radius: 8px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.score-box p {
  font-size: 15px;
}
.score-box h2 {
  font-size: 40px;
  font-weight: bold;
}

/* game options--------------------- */
.game-area {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.choices {
  position: relative;
  width: 350px;
  height: 300px;

  /* background-color: aqua; */
}
.choice {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
}
.inner {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  /* z-index: 3; */
}
.inner img {
  height: 56px;
  width: 80px;
}

.rock {
  border: 20px solid #0074b6;
  top: 0;
  left: 0;
}
.scissor {
  border: 20px solid #bd00ff;
  top: 0;
  right: 0;
}
.paper {
  border: 20px solid #ffa943;
  bottom: 0;
  /* left: 110px; */
  left: 50%;
  transform: translateX(-50%);
}

/* ---------lines style------------------------------------- */
.line-left,
.line-right {
  transform-origin: top center;
}

.lines {
  position: absolute;
  width: 350px;
  height: 260px;
  z-index: 1;
  /* background-color: aqua; */
}
.line {
  position: absolute;
  background-color: #000000;
  /* width: 133px; */
}
.line-top {
  width: 170px;
  height: 10px;
  top: 45px;
  left: 80px;
}
.line-left {
  width: 10px;
  height: 170px;
  left: 45px;
  top: 55px;
  transform: rotate(-35deg);
}
.line-right {
  width: 10px;
  height: 170px;
  right: 45px;
  top: 55px;
  transform: rotate(35deg);
}
/* ------------rules-pop-style--------------- */
.rules-popup {
  position: fixed;
  inset: 0;
  display: none; /* JS after */
  justify-content: flex-end;
  align-items: flex-end;
  padding: 90px 45px;
}
.rules-box {
  position: relative;
  height: 325px;
  width: 278px;
  background-color: #004429;
  border-radius: 10px;
  padding: 20px;
  color: white;
  border: 5px white solid;
}
/* Header */
.rules-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rules-header h2 {
  font-size: 22px;
}
.close-btn {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 45px;
  height: 45px;
  border: 4px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #ff0000;
}

.rules-list {
  list-style: none;
  margin-top: 15px;
  padding: 0;
}
.rules-list li {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}
.bullet {
  width: 10px;
  height: 10px;
  background-color: #ffd600;
  margin-top: 5px;
  flex-shrink: 0;
}

.rules-btn,
#next-btn {
  position: fixed;
  bottom: 10px;
  right: 30px;
  padding: 10px 25px;
  border: 2px solid white;
  background: transparent;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}

.rules-btn {
  right: 40px;
}

#next-btn {
  right: 190px; /* Rules ke left side */
}

.rules-btn:hover {
  background-color: rgb(144, 103, 50);
}

.result-screen {
  margin-top: 80px;
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* justify-content: center; */
  align-items: center;
  max-width: 700px;
  width: 100%;
  /* gap: 60px; */
}

.hidden {
  display: none;
}

.result-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: white;
}

.result-box p {
  position: relative;
  z-index: 20;
  font-size: 20px;
  font-weight: 600;
}

.result-screen .choice {
  position: static;
  width: 130px;
  height: 130px;
}

.result-middle {
  text-align: center;
  min-height: 220px;
  /* min-width: 220px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 30px; */
}

/* .result-middle h1 {
  font-size: 35px;
  margin-bottom: 15px;
} */

#result-msg {
  text-align: center;
  color: white;
  line-height: 1.2;
  min-height: 90px;
}

.main-result {
  display: block;
  font-size: 40px;
  font-weight: 600;
}

.sub-result {
  display: block;
  font-size: 20px;
  font-weight: 300;
  margin-top: 5px;
}

/* Animation */

/* Winner effect */
.choice.winner {
  position: relative;
  z-index: 5;
}

/* 3 Green Rings */
.choice.winner::before,
.choice.winner::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  animation: pulse 1.5s infinite ease-in-out;
}

/* First ring */
.choice.winner::before {
  width: 150px;
  height: 150px;
  background: #3b6720;
}

/* Second ring */
.choice.winner::after {
  width: 200px;
  height: 200px;
  background: #1da82b;
}

/* Third ring using extra span */
.choice.winner span.ring3 {
  position: absolute;
  width: 200px;
  height: 200px;
  background: #2e9a25;
  border-radius: 50%;
  z-index: -2;
  animation: pulse 1.5s infinite ease-in-out;
}
@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.7;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0.7;
  }
}

/* user win screen css */
.hurray-screen {
  position: relative;
  margin-top: 100px;
  text-align: center;
  color: white;
}
.hurray-screen h1 {
  font-size: 60px;
  font-weight: 600;
}
.hurray-screen p {
  font-size: 20px;
  font-weight: 300;
}

.trophy {
  width: 180px;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.star-wrapper {
  position: relative;
}

.big-star {
  position: absolute;
  width: 130px;
  z-index: 1;
}

.left-big {
  left: 320px;
  top: 40px;
}

.right-big {
  right: 320px;
  top: 40px;
}

.small-star {
  position: absolute;
  width: 50px;
  z-index: 1;
}

.star1 {
  left: 250px;
  top: 10px;
}

.star2 {
  right: 420px;
  top: 10px;
}

.play-again {
  padding: 15px 30px;
  border: 2px solid white;
  background-color: white;
  color: gray;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .score-board {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
  }

  .scores {
    justify-content: center;
  }

  .result-screen {
    flex-direction: column;
  }

  .game-area {
    margin-top: 50px;
  }

  .choices {
    transform: scale(0.85);
  }

  .rules-btn,
  #next-btn {
    font-size: 14px;
    padding: 8px 15px;
    right: 10px;
  }

  #next-btn {
    right: 120px;
  }

  .hurray-screen h1 {
    font-size: 40px;
  }

  .trophy {
    width: 130px;
  }

  .left-big,
  .right-big,
  .star1,
  .star2 {
    display: none;
  }
}
