* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #8cc461;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.score-board {
  border: 2px solid rgb(220, 215, 215);
  border-radius: 10px;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  width: 600px;
  height: 158px;
  color: white;
}

.game-title p {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.scores {
  display: flex;
  gap: 20px;
}

.score-box {
  background-color: white;
  color: black;
  padding: 10px 15px;
  text-align: center;
  border-radius: 8px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.score-box p {
  font-size: 15px;
}
.score-box h2 {
  font-size: 40px;
  font-weight: bold;
}

/* game options--------------------- */
.game-area {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.choices {
  position: relative;
  width: 350px;
  height: 300px;
  /* background-color: aqua; */
}
.choice {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
}
.inner {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  /* z-index: 3; */
}
.inner img {
  height: 56px;
  width: 80px;
}

.rock {
  border: 20px solid #0074b6;
  top: 0;
  left: 0;
}
.scissor {
  border: 20px solid #bd00ff;
  top: 0;
  right: 0;
}
.paper {
  border: 20px solid #ffa943;
  bottom: 0;
  /* left: 110px; */
  left: 50%;
  transform: translateX(-50%);
}

/* ---------lines style------------------------------------- */
.line-left,
.line-right {
  transform-origin: top center;
}

.lines {
  position: absolute;
  width: 350px;
  height: 260px;
  z-index: 1;
  /* background-color: aqua; */
}
.line {
  position: absolute;
  background-color: #000000;
  /* width: 133px; */
}
.line-top {
  width: 170px;
  height: 10px;
  top: 45px;
  left: 80px;
}
.line-left {
  width: 10px;
  height: 170px;
  left: 45px;
  top: 55px;
  transform: rotate(-35deg);
}
.line-right {
  width: 10px;
  height: 170px;
  right: 45px;
  top: 55px;
  transform: rotate(35deg);
}
/* ------------rules-pop-style--------------- */
.rules-popup {
  position: fixed;
  inset: 0;
  display: none; /* JS baad mein */
  justify-content: flex-end;
  align-items: flex-end;
  padding: 90px 45px;
}
.rules-box {
  position: relative;
  height: 325px;
  width: 278px;
  background-color: #004429;
  border-radius: 10px;
  padding: 20px;
  color: white;
  border: 5px white solid;
}
/* Header */
.rules-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rules-header h2 {
  font-size: 22px;
}
.close-btn {
  position: absolute;
  top: -20px;
  right: -20px;

  width: 45px;
  height: 45px;
  border: 4px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #ff0000;
}

.rules-list {
  list-style: none;
  margin-top: 15px;
  padding: 0;
}
.rules-list li {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}
.bullet {
  width: 10px;
  height: 10px;
  background-color: #ffd600;
  margin-top: 5px;
  flex-shrink: 0;
}

.rules-btn {
  position: fixed;
  bottom: 10px;
  right: 30px;
  padding: 10px 25px;
  border: 2px solid white;
  background: transparent;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}
.rules-btn:hover {
  background-color: rgb(144, 103, 50);
}
